@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
body {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Noto Serif';
}

textarea {
    width: 100%;
    resize: vertical;
    font-family: monospace;
}